body{
	background-color: #d9fbff;
}
.bl20{
	border-radius: 20px 0px 0px 20px!important;
}
.br20{
	border-radius: 0px 20px 20px 0px !important;
}
#mainsearchinput{
	background-color: transparent;
	border: outset;
	border-width: 1px;
	border-color: #9259d9;
	padding-left: 15px;
}
#mainsubmit{
	padding-right: 20px;
}
.cover-terluar, .tabel-hari{
	border-radius: 10px;
}
.cover-terluar{
	background-color: #ffffff;
	box-shadow: 0 0 10px 2px #666161;
}
.tabel-hari{
	border: 1px solid black;
}
.judul-list1{
	border-bottom: 1px solid black;
	padding: 15px 10px 15px 10px;
}
a.bt-accordion{
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
button.bt-detail-hari{
	width: 100%;
	align-items: center;
	justify-content: space-between;
	border: none;
	margin: 0;
	text-decoration: none;
	background: inherit;
	padding: 0px 0px;
	color: #0053ba;
}
button.bt-detail-hari:focus{
	outline: none;
}
button.bt-detail-hari:active {
	transform: scale(0.96);
}
a.bt-accordion{
	color: inherit;
}
.fa-angle-down{
	transition: all .4s ease;
}
.active .fa-angle-down{
	transform: rotate(180deg);
}
.setcircle{
	border-radius: 50%;
}